<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpendGoSigningKey</key>
	<string>onc6fyGnYszZklhCGyu9jUWAQn+53sck1qTAbQna9uk=</string>
	<key>SpendGoBaseURL</key>
	<string>https://my.spendgo.com/mobile/gen/jamba/v1</string>
	<key>SpendGoAPIKey</key>
	<string>jambamobile</string>
	<key>OloBaseURL</key>
	<string>https://api.olo.com/v1.1</string>
	<key>OloAPIKey</key>
	<string>2Qs7wYoevR3elHBXLw3CTMmGExJfhesu</string>
	<key>ParseClientKey</key>
	<string>tCM2dxjkTuUDsjFWHL5JgPXiM3K8Fmqm5DzIpnZl</string>
	<key>ParseApplicationID</key>
	<string>QJe51ygPXOQvXMkq0qPGJDZDj3OeOmeewb5u97DS</string>
	<key>GoogleAnalyticsAccountID</key>
	<string>UA-61764891-7</string>
</dict>
</plist>
