<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.olo.jambajuice">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- The ACCESS_COARSE/FINE_LOCATION permissions are not required to use Google Maps Android API v2, but are recommended. -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Permission for reliable local dispatching on non-Google Play devices -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Beacon Permissions -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH" /> -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> -->


    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Hockey App requires -->
    <!-- //    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->


    <!-- The two elements below ensure that only this application has access to the Urban Airship provider -->
    <permission
        android:name="${applicationId}.permission.UA_DATA"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.UA_DATA" />

    <!-- REQUIRED PERMISSIONS for GCM -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- &lt;!&ndash; This app has permission to register with GCM and receive message &ndash;&gt; -->
    <!-- <permission -->
    <!-- android:name="${applicationId}.permission.C2D_MESSAGE" -->
    <!-- android:protectionLevel="signature" /> -->


    <!-- <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" /> -->


    <!-- REQUIRED PERMISSIONS for GiftCard -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- The two elements above ensure that only this application can receive the messages and registration result -->
    <application
        android:name=".JambaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/FullScreenTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- ++++++++Urban AirShip++++++++ -->


        <!-- REQUIRED for PlayServiceUtils.handleAnyPlayServicesError to handle Google Play Services recoverable errors. -->
        <!-- <activity -->
        <!-- android:name="com.urbanairship.google.PlayServicesErrorActivity" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->


        <!-- REQUIRED for GCM -->
        <!-- <receiver -->
        <!-- android:name="com.urbanairship.push.GCMPushReceiver" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
        <!-- <action android:name="com.google.android.c2dm.intent.REGISTRATION" /> -->


        <!-- <category android:name="${applicationId}" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- REQUIRED for Action.startActivityForResult -->
        <!-- <activity android:name="com.urbanairship.actions.ActionActivity" /> -->


        <!-- REQUIRED for Urban Airship Push -->
        <!-- <activity android:name="com.urbanairship.CoreActivity" /> -->


        <!--
        REQUIRED for Urban Airship Push. The priority is important to be set lower than the
        application's push intent receiver in order for the push intent receiver to handle push intents
        before the core receiver. This allows the application to launch any activities before Urban
        Airship performs any actions or falls back to launching the application launch intent.
        -->
        <!-- <receiver -->
        <!-- android:name="com.urbanairship.CoreReceiver" -->
        <!-- android:exported="false" > -->
        <!-- <intent-filter android:priority="-999" > -->
        <!-- <action android:name="com.urbanairship.push.OPENED" /> -->


        <!-- <category android:name="${applicationId}" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!--
             REQUIRED for Landing Pages
            - For more customization details, see com.urbanairship.actions.LandingPageActivity
        -->
        <!-- <activity -->
        <!-- android:name="com.urbanairship.actions.LandingPageActivity" -->
        <!-- android:exported="false" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.urbanairship.actions.SHOW_LANDING_PAGE_INTENT_ACTION" /> -->


        <!-- <data android:scheme="http" /> -->
        <!-- <data android:scheme="https" /> -->
        <!-- <data android:scheme="message" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->


        <!-- REQUIRED for Urban Airship -->
        <!-- <service -->
        <!-- android:name="com.urbanairship.push.PushService" -->
        <!-- android:label="Push Notification Service" /> -->


        <!-- Required for analytics -->
        <!-- <service -->
        <!-- android:name="com.urbanairship.analytics.EventService" -->
        <!-- android:label="Event Service" /> -->


        <!-- Required for Actions -->
        <!-- <service android:name="com.urbanairship.actions.ActionService" /> -->


        <!-- Required for Rich Push -->
        <!-- <service android:name="com.urbanairship.richpush.RichPushUpdateService" /> -->


        <!-- OPTIONAL for Urban Airship Location (for segments support) -->
        <!-- <service -->
        <!-- android:name="com.urbanairship.location.LocationService" -->
        <!-- android:label="Segments Service" /> -->


        <!-- This is required for persisting preferences related to push and location -->
        <!-- <provider -->
        <!-- android:name="com.urbanairship.UrbanAirshipProvider" -->
        <!-- android:authorities="${applicationId}.urbanairship.provider" -->
        <!-- android:exported="true" -->
        <!-- android:multiprocess="true" -->
        <!-- android:permission="${applicationId}.permission.UA_DATA" /> -->


        <!-- <receiver -->
        <!-- android:name=".BusinessLogic.Notification.UrbanAirShipIntentReceiver" -->
        <!-- android:exported="false" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.urbanairship.push.CHANNEL_UPDATED" /> -->
        <!-- <action android:name="com.urbanairship.push.OPENED" /> -->
        <!-- <action android:name="com.urbanairship.push.RECEIVED" /> -->
        <!-- <action android:name="com.urbanairship.push.DISMISSED" /> -->


        <!-- <category android:name="${applicationId}" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- ++++++++Urban AirShip++++++++ -->


        <!-- Defining Services FCM -->
        <activity
            android:name="com.fishbowl.basicmodule.Controllers.FBActionActivity"
            android:exported="true" />

        <service
            android:name="com.fishbowl.basicmodule.Fcm.FBFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.fishbowl.basicmodule.Fcm.FBFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- ++++++++CLP SDK GCM ++++++++ -->
        <!-- <activity -->
        <!-- android:name="com.fishbowl.basicmodule.Controllers.FBActionActivity" -->
        <!-- android:exported="true" /> -->


        <!-- <receiver -->
        <!-- android:name="com.google.android.gms.gcm.GcmReceiver" -->
        <!-- android:exported="true" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
        <!-- <action android:name="com.google.android.c2dm.intent.REGISTRATION" /> -->


        <!-- <category android:name="${applicationId}" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <service -->
        <!-- android:name="com.fishbowl.basicmodule.Gcm.FBGCMListenerService" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- <service -->
        <!-- android:name="com.fishbowl.basicmodule.Gcm.FBInstanceIDListenerService" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.gms.iid.InstanceID" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- <service -->
        <!-- android:name="com.fishbowl.basicmodule.Gcm.FBRegistrationIntentService" -->
        <!-- android:exported="false" /> -->

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />
        <!-- ++++++++CLP SDK GCM ++++++++ -->


        <!-- CLP SDK LOCATION SERVICE -->
        <!-- <receiver android:name="com.fishbowl.basicmodule.Controllers.LocationServiceCheck" /> -->
        <!-- <receiver android:name="com.fishbowl.basicmodule.Controllers.AutoStartLocationService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- <service -->
        <!-- android:name="com.fishbowl.basicmodule.Controllers.LocationService" -->
        <!-- android:enabled="true" /> -->


        <!-- <receiver -->
        <!-- android:name="com.fishbowl.basicmodule.Controllers.GeofenceReceiver" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.clp.sdk.ACTION_RECEIVE_GEOFENCE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- CLP SDK LOCATION SERVICE -->


        <!-- CLP SDK BEACON -->
        <!-- <service -->
        <!-- android:name="com.estimote.sdk.service.BeaconService" -->
        <!-- android:exported="false" /> -->
        <!-- CLP SDK BEACON -->

        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".Activites.NonGeneric.Splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activites.NonGeneric.Home.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="jambajuice" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a14d6b01c9ac40ae615172475daf875def5d235e" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Activites.NonGeneric.Authentication.SignUp.SignUpNameAndEmailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.Authentication.SignUp.SignUpPhoneNumberActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.Authentication.SignUp.SignUpDOBActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.Authentication.SignUp.SignUpPasswordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.Authentication.SignUp.SignUpFindStoresActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.Authentication.SignUp.SignUpSuccessfulActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.Authentication.SignUp.SignUpJambaInsiderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.Authentication.SignIn.SignInActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.Authentication.SignIn.ForgotPasswordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.Authentication.SignIn.ConfirmationSentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".Activites.NonGeneric.Authentication.SignIn.SignInActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activites.NonGeneric.Authentication.SignIn.SignInActivity" />
        </activity>
        <activity
            android:name=".Activites.NonGeneric.Store.StoreLocator.StoreLocatorActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activites.NonGeneric.Store.StoreDetail.StoreDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.Menu.MenuLanding.MenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.Menu.BrowseMenu.ProductFamiliesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.Settings.SettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activites.NonGeneric.Menu.ProductCategoryDetail.ProductCategoryDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.Basket.BasketActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.Generic.WebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.Menu.ProductDetail.ProductDetailViewPagerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.Settings.ChangePasswordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.RewardsAndPromotions.Rewards.MyRewardsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.olo.jambajuice.Activites.NonGeneric.OrderAhead.RewardsAndPromotions.Rewards.MyRewardsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.PaymentInfo.AddCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.PaymentInfo.SelectExistingCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.RewardsAndPromotions.RedeemReward.RedeemRewardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.Confirmation.OrderConfirmationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.Menu.ProductDetail.ProductUpdateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.OrderHistory.OrderHistoryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.OrderHistory.OrderDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.PaymentInfo.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.PaymentInfo.EGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar." />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.RewardsAndPromotions.Promotions.PromotionalCodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activites.NonGeneric.Authentication.SignUp.SignUpStoreDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.Settings.ChangeEmailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.Settings.ChangePhoneNumberActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.Store.SelectPickUpLocationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.RewardsAndPromotions.Rewards.BasketRewardsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.Splash.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.Settings.TermsAndPrivacyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.NonGeneric.Settings.FeedbackFormActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.Settings.FeedbackTypeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.RewardsAndPromotions.Offer.PassFullActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.RewardsAndPromotions.Offer.PassdetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.RewardsAndPromotions.Offer.Passreward"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.RewardsAndPromotions.Offer.MyOfferActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.RewardsAndPromotions.Offer.PkpassdetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.Menu.ProductDetail.ProductCustomiseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.RewardsAndPromotions.Offer.BackPkpassdetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.RewardsAndPromotions.Rewards.MyRewardsAndOfferActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.RewardsAndPromotions.Rewards.BasketRewardsAndOffersActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.AddExistingGFCard.AddExistingCardActivityGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.AddExistingGFCard.CardInfoActivityGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.AddExistingGFCard.GiftCardHomeListActivityGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.AddExistingGFCard.PayNowActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.CreateGFCard.AddNewPaymentActivityGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.CreateGFCard.NewCardActivityGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.CreateGFCard.PurchaseNewCardActivityGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.CreateGFCard.PurchaserActivityGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.CreateGFCard.RecipientActivityGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activites.NonGeneric.Settings.ForceUpdateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.RewardsAndPromotions.Offer.MoreInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activites.NonGeneric.Store.StoreDetail.StoreDirectionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.OrderType.AddDeliveryAddressActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activites.NonGeneric.OrderAhead.OrderType.SavedDeliveryAddressesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activites.NonGeneric.Settings.PushNotificationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.CreateGFCard.SelectAmountActivityGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.CreateGFCard.SelectDesignActivityGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.CreditCard.ExistingSavedCreditCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.CreditCard.PaymentDetailsActivityGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.ManageGiftCard.AutoReloadActivityGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.ManageGiftCard.AutoReloadEndDateActivityGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.ManageGiftCard.CardDetailsActivityGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.ManageGiftCard.ManageActivityGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.ManageGiftCard.ReloadActivityGiftCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.NonGeneric.GiftCardNonGeneric.ManageGiftCard.TransactionHistory"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar."
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.NonGeneric.Menu.ProductSearch.ProductSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activites.NonGeneric.Authentication.SignUp.SignUpPushNotificationActivity" />
        <activity android:name=".Activites.NonGeneric.OrderAhead.Basket.UpsellActivity"></activity>
    </application>

</manifest>