<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fishbowl.LoyaltyTabletApp">

    <application
        android:name="com.fishbowl.LoyaltyTabletApp.LoyaltyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a14d6b01c9ac40ae615172475daf875def5d235e" />


        <activity
            android:name=".Activites.NonGeneric.Splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activites.NonGeneric.Authentication.SignIn.SignInActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activites.NonGeneric.Authentication.SignIn.SignInActivityCommon"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Activites.NonGeneric.Home.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activites.NonGeneric.Home.HomeActivityCommon"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".Activites.NonGeneric.Offer.MultipleOffer_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activites.NonGeneric.Offer.PushDetail_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activites.NonGeneric.Offer.PassDetail_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activites.NonGeneric.Authentication.SignUp.SignUpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden">
            >
        </activity>
        <activity
            android:name=".Activites.NonGeneric.Offer.Rewards_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape">
            >
        </activity>
        <activity
            android:name=".Activites.NonGeneric.Offer.MultiReward_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".Activites.NonGeneric.Offer.EmailRewardActivity" />
        <activity
            android:name=".Activites.NonGeneric.Offer.SmsRewardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_sms_reward"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activites.NonGeneric.Offer.PushRewardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".Activites.NonGeneric.Advertisement.MobileAddActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_mobile_add"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activites.NonGeneric.Offer.PassSendActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_pass_send"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Activites.NonGeneric.Menu.ProfileMenu.UpdateProfile"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".Activites.NonGeneric.Authentication.SignIn.ChangePasswordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".Activites.NonGeneric.Settings.TermsConditionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".Activites.NonGeneric.Settings.PrivacyLink"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".Activites.NonGeneric.Menu.ActivityMenu.MyActivityListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".Activites.NonGeneric.Menu.MenuLanding.MenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".Activites.NonGeneric.Menu.ContactUsMenu.ContactUsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".Activites.NonGeneric.Menu.FAQMenu.FAQsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".Activites.NonGeneric.Menu.MessageMenu.MessageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".Activites.NonGeneric.LoyaltyCard.LoyaltyCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"

            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".Activites.NonGeneric.Store.SearchStoreActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".Activites.NonGeneric.State.StateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".Activites.NonGeneric.Country.CountryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"></activity>


        <activity
            android:name=".Activites.NonGeneric.Settings.ProgramDeetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".Activites.NonGeneric.Authentication.SignUp.BonusActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".Activites.Generic.WebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Activites.Generic.WebViewOfferActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"/>


    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>